{% from "macros/sidebar.html" import sidebar %}
{% from "macros/navbar.html" import navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Informasi Kehadiran{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/daterangepicker.css') }}">
</head>
<body>
{{ navbar() }}
{{ sidebar() }}
<section class="home-section">
    <div class="col-lg-20 offset-1">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Informasi Kehadiran</h2>
                <hr>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <h5 class="text-center" id="current-date-label"> : </h5>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label>Tanggal :</label>
                        <input type="text" id="date-range-picker" style="display: ;"/>
                    </div>
                </div>
                <table class="table" id="employee-table">
                    <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Masuk</th>
                        <th>Keluar</th>
                        <th>Shift</th>
                        <th>Keterangan</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td class="tanggal">{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                            <td>{{ item[5] }}</td>
                            <td class="{% if item[4] == 'Telat' %}telat{% endif %}">
                                {{ item[4] }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

<!-- Add required JavaScript libraries -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/FileSaver.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.colVis.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/daterangepicker.min.js') }}"></script>

<script>
    $(document).ready(function () {
        // Define the predefined date ranges
        var predefinedRanges = {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        };

        // Get the current date range for "Today"
        var todayStart = moment().startOf('day');
        var todayEnd = moment().endOf('day');

        // Initialize Date Range Picker for filtering with predefined ranges
        $('#date-range-picker').daterangepicker({
            ranges: predefinedRanges,
            alwaysShowCalendars: true,
            startDate: todayStart,
            endDate: todayEnd,
            locale: {
                format: 'DD-MM-YYYY',
                cancelLabel: 'Clear'
            }
        });

        // Update the current date and time label
        function updateCurrentDateLabel() {
            var currentDate = moment().format('D MMMM YYYY');
            $('#current-date-label').text('Presensi Hari Ini : ' + currentDate);
        }

        // Call the function initially and set interval to update the label every second
        updateCurrentDateLabel();
        setInterval(updateCurrentDateLabel, 1000);

        // DataTable initialization
        var table = $('#employee-table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-secondary',
                    text: 'Export',
                    exportOptions: {
                        columns: ':visible:not(.no-export)',
                        modifier: {
                            search: 'applied',
                            order: 'applied'
                        }
                    }
                },
                {
                    extend: 'colvis',
                    className: 'btn btn-secondary',
                    text: 'Filtering'
                }
            ],
            // Set the default sorting by the second column (index 1) in descending order
            order: [[1, 'desc']]
        });

        table.buttons().container().appendTo('#employee-table_wrapper .col-md-6:eq(0)');

        // Custom filtering function
        $.fn.dataTable.ext.search.push(
            function (settings, searchData, index, rowData, counter) {
                var startDate = $('#date-range-picker').data('daterangepicker').startDate.format('DD-MM-YYYY');
                var endDate = $('#date-range-picker').data('daterangepicker').endDate.format('DD-MM-YYYY');
                var currentDate = searchData[1]; // Assuming the date column is at index 1 in your data

                // Perform date range filtering
                if ((currentDate >= startDate && currentDate <= endDate) || !startDate || !endDate) {
                    return true;
                }

                return false;
            }
        );

        // Handle date range changes
        $('#date-range-picker').on('apply.daterangepicker', function (ev, picker) {
            // Redraw the DataTable on date range changes
            table.draw();
        });

        $('#date-range-picker').on('cancel.daterangepicker', function (ev, picker) {
            // Clear the date range filter and redraw the DataTable
            $('#date-range-picker').val('');
            table.draw();
        });
    });
</script>
<style>
    .telat {
        color: red;
    }
</style>
</body>
</html>
