{% from "macros/sidebar.html" import sidebar %}
{% from "macros/navbar.html" import navbar %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Laporan Kehadiran {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">
</head>
<body>
{{ navbar() }}
{{ sidebar() }}
<section class="home-section">
    <div class="col-lg-20 offset-1">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Informasi Kehadiran</h2>
                <table class="table" id="employee-table">
                    <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Jam</th>
                        <th>Keterangan</th> <!-- Add Keterangan column -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>
                                {% if item[3] == "Hadir" %}
                                    Hadir
                                {% else %}
                                    Telat
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Add required JavaScript libraries -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/FileSaver.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.colVis.min.js') }}"></script>


<script>
    $(document).ready(function () {
        var table = $('#employee-table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-secondary',
                    text: 'Export',
                    exportOptions: {
                        columns: ':visible:not(.no-export)',
                        modifier: {
                            search: 'applied',
                            order: 'applied'
                        }
                    }
                },
                {
                    extend: 'colvis',
                    className: 'btn btn-secondary',
                    text: 'Filtering'
                }
            ]
        });

        table.buttons().container().appendTo('#employee-table_wrapper .col-md-6:eq(0)');
    });

    function confirmDelete() {
        return confirm("Are you sure you want to delete this record?");
    }

</script>
</body>
</html>
